.page-content{
	background:#fff;
}

.panel-heading{
color:#fff;
background:#337ab7;
border:5px solid #337ab7;
}

.panel-grey{
border:5px solid #337ab7;
}


.breadcrumb{
border-bottom:3px solid #999;

}
.rojo{
	color:red;
}
