
button{
  width: 30px;

}

.navbar-header a:hover {
   color:#6CDAF8;
}

.navbar-header button {
 
  background:#1c1c1c;
width:45px;
}
.navbar-header button span{
 
 color:#337ab7;

}


.navbar-header button span:hover{
 
  color:#6CDAF8;

}

body
{
  background-color: #1C1C1C;
    background-size: 100%;
    padding: 0;
    margin: 0;
    color: #d0d0d0;

    height: 100%; 
 /* text-align: center;*/

}

.centrar {
          margin: auto;
    text-align: center;
}
.texto{
  color:#d0d0d0;
}


nav{
  background:#1c1c1c;
  font-family: Verdana;
}
.navbar ul li a{
  padding:20px;
  background:none;
 border-bottom:4px solid #1c1c1c;

 font-weight:30px;

}

.navbar ul li a:hover{
  background:#1c1c1c;
 color:#6CDAF8;
 border-bottom:4px solid #6CDAF8;
 -webkit-transition:all 250ms;
 -moz-transition:all 250ms;
 transition:all 250ms; 


}

/*.navbar ul li:hover > ul{    /*MOSTRAR SUBMENU AL PASAAR EL MOUSE*/
/*display:block;
}*/

.navbar li ul{    /*Todos los submenús tendrán un ancho minimo de 140px para que no se vean desiguales 
                y llevaran position: absolute para que no afecten el ancho del menu principal.*/
display:none;
min-width:140px;
}


.navbar li ul li{     /* PROPIEDADES PARA SUBMENUS DE SUBMENUS */
position:relative;
}

.navbar li ul li ul{
right:-140px;
top:0;
}

.nav li .flecha{
font-size: 9px;
padding-left: 6px;
display: none;
}

.nav li a:not(:last-child) .flecha {  /* FLECHA PARA DESHABILITAR SUB MENUES DE SUBMENUES*/
display: inline;
}

.header{

  margin-bottom: 0;
  background: #000;
  

}

.jumbotron {     /*SE AGREGA COMO CLASE EN LA ETIQUETA  */
  background:#F78181;
  color:#fff;
  padding:10px 1px; /* DE 20PX Y A LOS LADOS DE 0 */
  margin-top:0px;
  margin-bottom:20px;

}

a,button{
    margin-top:0px;
    margin-bottom:0px;

}
footer{
 /* margin:auto;*/
  text-align:center;
  height: 60px;
 
}

.social2 a{
  list-style:none;
  display:inline-block;
  color:#fff;
  text-decoration: none;
  padding:10px 15px;

}

.social2 a:hover{
  display:inline-block;
  color:#000;
  background:#FFF;
  text-decoration: none;
  padding:10px 20px;
-webkit-transition:all 250ms;
 -moz-transition:all 250ms;
 transition:all 250ms; 
 
}

.activo{
 color:#6CDAF8;
 background:#1c1c1c;

}

strong, img{
    display: block;
}

img {
    margin: 0 auto;
    border-radius: 10px;
}


.menu li ul {
  
  height:0;
  overflow:hidden;
  -moz-transition-duration:.3s;
  -webkit-transition-duration:.3s;
  -o-transition-duration:.3s;
  transition-duration:.3s;

}

.menu li:hover ul{
  height: 10em; 
}



 li ul li a {
  padding:20px;
  background:#1c1c1c;
 border-bottom:4px solid #1c1c1c;

 font-weight:30px;

}

li ul li a:hover{
  background:#1c1c1c;
 color:#6CDAF8;
 border-bottom:4px solid #6CDAF8;
 -webkit-transition:all 250ms;
 -moz-transition:all 250ms;
 transition:all 250ms; 

}

.dropdown-menu, .dropdown-menu li a  {
  background:#1c1c1c;

 color:#337ab7;
}


#titulofooter h5{
  color:#d0d0d0;
}
