/*--HEADER--*/

button{
  width: 30px;

}

body
{
  background-color: #1C1C1C;
    background-size: 100%;
    padding: 0;
    margin: 0;
    color: #d0d0d0;
  
}

.modal{
  color:#000;
}

footer{
    background:#1c1c1c;

  }

header{
  padding-top:60px;

}
nav{
  background:#1c1c1c;
  
}
.navbar-collapse ul li a{
  padding:20px;
  background:none;
 border-bottom:4px solid #1c1c1c;

 font-weight:30px;
}

.navbar-collapse ul li a:hover{
  background:#1c1c1c;
 color:#6CDAF8;
 border-bottom:4px solid #6CDAF8;
}

.navbar-collapse ul li a .active{
  background:#1c1c1c;
 color:#6CDAF8;
 border-bottom:4px solid #6CDAF8;

}
.navbar-header button span{
color:#6CDAF8;
}




.header{

  margin-bottom: 0;
  background: #000;
  

}

.jumbotron {     /*SE AGREGA COMO CLASE EN LA ETIQUETA  */
  background:#F78181;
  color:#fff;
  padding:10px 1px; /* DE 20PX Y A LOS LADOS DE 0 */
  margin-top:0px;
  margin-bottom:20px;

}

.alert{
  margin-top:0px;
  margin-bottom:0px;
}


table {
  color:#000;
  background:#1c1c1c;
   padding:10px;
  margin:auto;
  border:10px solid #1c1c1c;
}

  td,
   th {
    padding-left:30px;
   padding-right:30px;
padding-top:10px;
padding-bottom:10px;
    
    color:#000;

  }
#bar1{
  background:#000;
}

.panel{

  border:0;
}
/* --POST-- */


.main{
  margin-top: 20px;
  margin-bottom: 20px;
}

.post{
  padding-bottom:20px;
  margin-bottom:20px;
  border-bottom:1px solid #999;
}

.post .post-title a { /* CON a HACE REFERENCIA A LA ETIQEUTA <a> ADENTRO DE UN DIV CON ESTA CLASE */
  color:#333;
}

.post .thumb{
  margin-right:10px;
  width:40%;
}

.post .thumb img { /*ADENTRO DE UNA CLASE POST SI ASIGNO CLASE THUMB A UNA IMAGEN ABARCA EL 100% */
  width:100%;
} 

.post .contenedor-botones{
  width:100%;
}

/* -- Media Query -- */

@media screen and (max-width:768px){ /*PARA DISPOSITIVOS MOVILES LA IMAGEN SE VEA MAS GRANDE*/ 
  .post .thumb {
    width:100%;
    margin-bottom:20px;
    margin-right:0;
  }
}



/*body,h3 {
    margin: auto;
    text-align: center;
    
}*/


a,button{
    margin-top:0px;
    margin-bottom:0px;

}


strong, img{
    display: block;
}

img {
    margin: 0 auto;
    border-radius: 10px;
}
#logout {
    margin-top: 10px;
}



*{
  margin:0;
  padding:0;
  -webkit-box-sizing:border:box;
  -moz-box-sizing:border-box;
  box-sizing:border-box;
}



.centrar {
          margin: auto;
    text-align: center;
}



/*.pintar ul li a:hover{
background:#d0d0d0;
color:#000;

border: 2px solid #6CDAF8;
  
 -webkit-transition:all 250ms;
 -moz-transition:all 250ms;
 transition:all 250ms;

}*/

.pintar .centrar ul li a:hover{
background:none;
color:#6CDAF8;
border: 2px solid #6CDAF8;

  
 -webkit-transition:all 250ms;
 -moz-transition:all 250ms;
 transition:all 250ms;

}




.pintar .centrar ul li a{

border-left:10px;

font-size:30px;

padding-top:15px;
padding-bottom:15px;
width:200px;
 display:inline-block;
text-shadow: #555 2px 2px 3px;
color:#fff;
border: 2px solid #d0d0d0;

}

h1{
  color:#FFF;
  text-shadow: #555 2px 2px 3px;
}

.texto{
  color:#d0d0d0;
}

fieldset{
  padding-left:20px;
  padding-right:20px;
  
}
input{
  padding-top:10px;
}

footer{
  margin:auto;
  text-align:center;


}

.social2 a{
  list-style:none;
  display:inline-block;
  color:#fff;
  text-decoration: none;
  padding:10px 15px;

}

.social2 a:hover{
  display:inline-block;
  color:#000;
  background:#FFF;
  text-decoration: none;
  padding:10px 20px;
-webkit-transition:all 250ms;
 -moz-transition:all 250ms;
 transition:all 250ms; 
 
}

#btnBar, #btnBoliche{
padding-top:26px;
padding-bottom:26px;

}

.activo{
 color:#6CDAF8;

}

.zoomIt{
/*display:block!important;*/
-webkit-transition:-webkit-transform 1s ease-out;
-moz-transition:-moz-transform 1s ease-out;
-o-transition:-o-transform 1s ease-out;
-ms-transition:-ms-transform 1s ease-out;
transition:transform 1s ease-out;
}
.zoomIt:hover{
-moz-transform: scale(1.1);
-webkit-transform: scale(1.1);
-o-transform: scale(1.1);
-ms-transform: scale(1.1);
transform: scale(1.1)
}

.header-text h4 span {
  background-color: #000;
  padding: 15px;
}

#completeprecio label{
  color:red;
  
}

#completeproducto label{
  color:red;
  
}

#titulosolicitud{
  color:#337ab7;
}

.validar{
  color:red;
}