table{
  background:#fff;
  color:#337ab7;
  border:none;

}
.panel table{
  border:none;
}

table tr{
 width:550px;
 color:#000;
}

 table tr:hover {
 
  background:#d0d0d0;
  border:none;

}


.modal p, .modal h4{
  color:#000;
}

.modal h4 #colorbar{
  color:#337ab7;
}


.centrar {
          margin: auto;
    text-align: center;
}

#completecant label{
  color:red;
  
}
#completetel label{
  color:red;
}

#completefecha label{
  color:red;
}


#map { 
margin:auto;
 height:300px;
width:300; 
}


#titulomapabar h4 span {
background-color: #000;
padding: 10px;
}

