/*--HEADER--*/

button{
  width: 30px;

}

body
{
  background-color: #1C1C1C;
    background-size: 100%;
    padding: 0;
    margin: 0;
    color: #FFF;
  
}

.modal{
  color:#000;
}

.header{
  margin-bottom: 0;
  background: #000;

}

.jumbotron {     /*SE AGREGA COMO CLASE EN LA ETIQUETA  */
  background:#F78181;
  color:#fff;
  padding:10px 1px; /* DE 20PX Y A LOS LADOS DE 0 */
  margin-top:0px;
  margin-bottom:20px;

}

.alert{
  margin-top:0px;
  margin-bottom:0px;
}


table{
  color:#000;
  background:#1C1C1C;
  border:0;
  border-top:0;
}
  .table td,
  .table th {
    border-top:0;
    background-color: #fff !important;
    color:#000;

  }
#bar1{
  background:#000;
}

.panel{

  border:0;
}
/* --POST-- */


.main{
  margin-top: 20px;
  margin-bottom: 20px;
}

.post{
  padding-bottom:20px;
  margin-bottom:20px;
  border-bottom:1px solid #999;
}

.post .post-title a { /* CON a HACE REFERENCIA A LA ETIQEUTA <a> ADENTRO DE UN DIV CON ESTA CLASE */
  color:#333;
}

.post .thumb{
  margin-right:10px;
  width:40%;
}

.post .thumb img { /*ADENTRO DE UNA CLASE POST SI ASIGNO CLASE THUMB A UNA IMAGEN ABARCA EL 100% */
  width:100%;
} 

.post .contenedor-botones{
  width:100%;
}

/* -- Media Query -- */

@media screen and (max-width:768px){ /*PARA DISPOSITIVOS MOVILES LA IMAGEN SE VEA MAS GRANDE*/ 
  .post .thumb {
    width:100%;
    margin-bottom:20px;
    margin-right:0;
  }
}


  footer{
  margin:auto;
  text-align:center;


}





body,h3 {
    margin: auto;
    text-align: center;
    
}


a,button{
    margin-top:0px;
    margin-bottom:0px;

}
h1 {
    margin-bottom: 20px;
    margin-top: 0px;
}

strong, img{
    display: block;
}

img {
    margin: 0 auto;
    border-radius: 10px;
}
#logout {
    margin-top: 10px;
}

.expandir a{
background:green;
color:#fff;
 padding:10px 30px;
 text-decoration:none;
 border:4px solid green;
}

.expandir a:hover{
 background:none;
  border:3px solid #6CDAF8;
  color:#6CDAF8;
  /*padding:10px 40px;*/
 
}


*{
  margin:0;
  padding:0;
  -webkit-box-sizing:border:box;
  -moz-box-sizing:border-box;
  box-sizing:border-box;
}



footer{
  margin:auto;
  text-align:center;


}

.social2 a{
  list-style:none;
  display:inline-block;
  color:#fff;
  text-decoration: none;
  padding:10px 15px;

}

.social2 a:hover{
  display:inline-block;
  color:#000;
  background:#FFF;
  text-decoration: none;
  padding:10px 20px;
  -webkit-transition:all 250ms;
 -moz-transition:all 250ms;
 transition:all 250ms; 
}


.zoomIt{
/*display:block!important;*/
-webkit-transition:-webkit-transform 1s ease-out;
-moz-transition:-moz-transform 1s ease-out;
-o-transition:-o-transform 1s ease-out;
-ms-transition:-ms-transform 1s ease-out;
transition:transform 1s ease-out;
}
.zoomIt:hover{
-moz-transform: scale(1.1);
-webkit-transform: scale(1.1);
-o-transform: scale(1.1);
-ms-transform: scale(1.1);
transform: scale(1.1)
}
