.azul{
	color:#337ab7;
}

.modal-header h4{
	color:#337ab7;
}

.modal table{
	color:#000;

}


table .tablatit:hover{

	color:#337ab7;
	background:#d0d0d0;
   
}

.modal table tr th{
	border:10px;
}


 .confirmado{
  color:#04B404;
}

.rechazado{
  color:#DF0101;
  
}

.enespera{
  color:#2E2EFE;
}

.panel{
    border:none;
}

.modal p{
	color:#000;
}

.modal-title{
	color:#337ab7;
}

.modal #tabladereservas tr th{
	padding:5px;
	border:10px;
	color:#000;
	
}


 .panel-heading .table tr:hover {
  color:#6CDAF8;
  background:#d0d0d0;
  border:10px;
}

.tablatit:hover{
	background:#d0d0d0;
}

.tablatit{
	background:#d0d0d0;
}

#tabladereservas{
	border:1px solid #337ab7;
}

#tabladereservas tr{
	border:1px solid;
}


#editarbar table {
   padding:2px;
  margin:auto;
 
}

 #editarbar td,
  #editarbar th {
    padding-left:10px;
   padding-right:10px;
padding-top:10px;
 padding-bottom:2px;   
  }

  label{
  	color:#000;
  }

#complete_cmbprodu label h5, #completetelefono label h5,#complete_nombre_bar label h5,#complete_precio label h5,#complete_motivo label h5,#complete_promo label h5{
	color:red;
}

.glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -webkit-animation: spin2 .7s infinite linear;
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}

#tablaproductos tr:hover{
  background:#d0d0d0;
  color:red;
  border:1px solid #000;
}

#tablaproductos tr th{
    border:2px solid;
}

