table tr.filareserva:hover{
	background-color:#d0d0d0;
	color:red;
	font:solid;
	border:none;

}
table tr{
	
	background:#fff;
	color:#1c1c1c;
	border-left:0px;
	border-right:0px;
}

table .tablatit{

	color:#337ab7;
border:none;
border-bottom:3px solid #000;
}
table .tablatit:hover{

	color:#337ab7;
    
}

  .table-hover{

   
   background:#1C1C1C;

 }

 .confirmado{
  color:#04B404;
}

.rechazado{
  color:#DF0101;
  
}

.enespera{
  color:#2E2EFE;
}

.panel{
    border:none;
}

.modal p{
	color:#000;
}

.modal-title{
	color:#337ab7;
}